* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:active,
a:focus {
  outline: none;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
article,
footer,
header,
main,
nav,
section {
  display: block;
}
button {
  font-family: inherit;
  line-height: inherit;
  text-transform: none;
  border-radius: 0;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  margin: 0;
  overflow: visible;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
[type='button'] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type='button']:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  user-select: none;
  pointer-events: none;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
